.card {
    border: 2px solid var(--primary-color);
    border-radius: 0.25rem;
    transition: box-shadow 0.3s ease-in-out;
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} 

.card-title {
    font-size: 2rem;
    font-weight: bold;
}

.card-text {
    font-size: 0.9rem;
    color: var(--secondary-color);
}
.title-text {
    font-size: 24px;
}
.location-text {
    font-size: 11px;
    max-width: 80%;
}
.organization-text {
    font-size: 14px;
}
.close-date-text {
    font-size: 14px;
}

.extra-details {
    background-color: var(--primary-color) !important;
    width: 50px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.extra-details p {
    color: #f7f8fa;
    font-size: 12px;
}




.shadow {
    box-shadow: 0 0 3px rgb(53 64 78 / 20%) !important;
}
.bg-light {
    background-color: #f7f8fa !important;
}

.rounded {
    border-radius: 5px !important;
}
.badge {
    padding: 8px 8px;
    border-radius: 3px;
    letter-spacing: 0.5px;
    font-size: 12px;
}
















